.font-27 {
    font-size: 27px;
}
/* ========================== CONTAINER =========================== */
.sk-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
/* ========================== HEADER =========================== */
.logo-header {
    height: 55%;
    background-color: #03234A;
}
.logo-header .logo {
    height: 100%;
}
.logo-header img {
    height: 65%;
}
h1 {
    font-size: 60px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
/* ========================== CONTACT =========================== */
.contact-area {
    height: 45%;
}
.welcom-text {
    padding-top: 25px;
    padding-bottom: 40px;
}
.welcom-text label {
    width: 70%;
}
label {
    font-size: 30px;
    color: #03234A;
}
.contact-area .contact {
    height: 45%;
}


/* ========================== BUTTON =========================== */
.comunicate-btn {
    background-color: transparent;
    /* border: 1px solid #FFFFFF; */
    border: none;
    box-sizing: border-box;
    /* color: #00132C; */
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    /* font-weight: 700; */
    line-height: 55px;
    /* padding: 16px 23px; */
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 130px;
    /* max-height: 140px; */
    width: 40%;
}
  
.comunicate-btn:after {
    /* background-color: #D5EDF6; */
    content: "";
    height: calc(100% - 22px);
    border: 1px solid #FFFFFF;
    position: absolute;
    right: 11px;
    top: 11px;
    transition: background-color 300ms ease-in;
    width: calc(100% - 22px);
    /* z-index: -1; */
}
.red-btn.comunicate-btn{
    background-color: #950303;
}
.grey-btn.comunicate-btn{
    background-color: #534C44;
}
.blue-btn.comunicate-btn{
    background-color: #03234A;
}
.green-btn.comunicate-btn{
    background-color: #016055;
}
.yellow-btn.comunicate-btn{
    background-color: #EFB800;
    color: #000000;

}
.yellow-btn.comunicate-btn:after{
    border-color: #000000;
}
.comunicate-btn .alarm {
    position: absolute;
    width: 92px;
    height: 92px;
    left: -35px;
    top: -20px;
    background-image: url("/static/images/bell.svg");
    background-repeat: no-repeat;
    z-index: 1;
}

.comunicate-btn .call {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 20px;
    background-image: url("/static/images/telephone-fill.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.comunicate-btn .chat {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 20px;
    background-image: url("/static/images/pencil-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

/* ============================== MODAL ============================== */
.modal-dialog-centered {
    max-width: 90%;
}
.modal-body {
    /* padding-bottom: 2rem; */
}
.modal-header {
    background-color: #727B8B;
    color: #FFFFFF;
    padding: 5px 10px;
    font-size: 27px;
}
.close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 1px #0C4264;
    background-color: #4695AD;
    color: #FFFFFF;
    font-size: 35px;
}
.speaker img {
    height: 115px;
    width: auto;
    margin-bottom: 15px;
}
#callModal label {
    margin-bottom: 15px;
}
/* ============================== CHAT ============================== */
.chat-area {
    width: 100%;
}
.chat-container {
    max-height: 325px;
    min-height: 100px;
    overflow-y: auto;
}
.chat-message {
    display: flex;
}
.chat-message p{
    width: 466px;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 20px;
}
.chat-message.user-message {
    justify-content: end;
}
.chat-message.staff-message {
    justify-content: start;
}
.chat-message.user-message p {
    background-color: #C6D2E2;
}
.chat-message.staff-message p {
    background-color: #DBEAD2;
}
.send {
    background-color: #03234A;
    color: #FFFFFF;
}
